/* GENERAL */
body{
    background: #EEEEEE;
}

/* HEADER */

.navbar-collapse .avatar{
    background: #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -10px;
}

.navbar-collapse .avatar img{
    height: 100%;
    text-align: center;
}

/* CONTENT */
#content{
    margin-top: 80px;
}

/* REGISTRO */
.box-form, .box-default{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px;
    padding-top: 0;
    margin: 0 auto;
    float: none;
}

.box-form input{
    margin-bottom: 10px;
}

/* CONDUCTORES */
.user-item .avatar,
.publication-item .avatar{
    background: #EEEEEE;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

.user-item .avatar img,
.publication-item .avatar img{
    height: 100%;
    text-align: center;
}

.user-item .user-item-content,
.publication-item .publication-item-content{
    padding: 10px;
    margin-left: 85px;
}

/* HOME */
#timeline{
    margin-right: 20px;
    min-height: 750px;
    padding-bottom: 20px;
}

.box-header{
    border-bottom: 1px solid #CCCCCC;
    padding: 10px;
    padding-top: 0px;
    font-size: 25px;
}

#user-card{
    padding: 10px;
}

#user-card .avatar{
    background: #EEEEEE;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    float: left;
}

#user-card .avatar img{
    height: 100%;
    text-align: center;
}

#user-card .avatar img.default{
    opacity: 0.5;
}

#user-card .name-surname{
    float: left;
    font-size: 20px;
    padding: 10px;
}

#user-card .name-surname a{
    color: #000000;
}

#user-card .nickname{
    opacity: 0.7;
}

/* AÑADIR RUTINA */

.form-max{
    margin-left: 1525px;
}

.pub-name-link{
    font-weight: bold;
    color: #000000;
}

.pub-date{
    color: #AAAAAA;
}