/* GENERAL */
body{
    background: #EEEEEE;
}

/* REGISTRO */
.box-form{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 20px;
    padding-top: 0;
    margin: 0 auto;
    float: none;
}

.box-form input{
    margin-bottom: 10px;
}