/* GENERAL */
body{
    background-image: linear-gradient(to top, rgba(240, 240, 240, 0.7) 100%, rgba(0,0,0,0.0) 100%), url(/assets/images/fondoGris.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

li.active{
    background-color: #0087bb !important;
}

li.active>a{
    color: #FFFFFF !important;
}

li.active a span.glyphicon-plus{
    color: #FFFFFF;
}

.nav-tabs{
    border-bottom: 0;
}

.user-pad {
    padding: 20px 25px;
}

.overview h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0 0;
}

.overview h4 {
    font-size: 30px;
    font-weight: bold !important;
    margin-top: 0;
}

.modal-footer{
    border-top: 0 !important;
}

.no-padding-lados{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.alert{
    margin-bottom: 0 !important;
}

.alert-default{
    background: #8abccc;
}

.alert-notificacion{
    background: #EEEEEF;
    border-radius: 0;
    border: 1px solid #DDDDDD;
}

.text-white{
    color: #FFFFFF !important;
}

.box-default h1{
    padding-top: 15px;
    font-weight: 300;
}

.label-sm{
    font-size: small !important;
}

.float-none{
    float: none !important;
}

/* HEADER */
nav{
    border-bottom: 0 !important;
}

.navbar-default{
    background: #FFFFFF;
}

.navbar::after {
    height:5px;
    width:100%;
    background-image: url('/assets/images/gradient-border-bottom.png');
}

.navbar-brand>img{
    display: inline;
}


.navbar-collapse .avatar{
    background: #FFFFFF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    float: left;
    margin-right: 12px;
    margin-top: -10px;
}

.navbar-collapse .avatar img{
    height: 100%;
    text-align: center;
}

header nav .add-pub a{
    color: #28B62C !important;
}


header nav .add-pub a:hover{
    background-color: #28B62C !important;
    color: #FFFFFF !important;
}

.mt-1{
    margin-top: 10px;
}

.mt-2{
    margin-top: 20px;
}

.mt-3{
    margin-top: 30px;
}

.mt-4{
    margin-top: 40px;
}

.mt-5{
    margin-top: 50px;
}

/* CONTENT */
#content{
    margin-top: 55px;
}

/* LOGIN */
.page-login{
    background: url('/assets/images/login_back.jpg') center right ;
    background-size: cover;
}

.box-login{
    opacity: 0.98;
}

/* REGISTRO */
.box-form, .box-default{
    background: #FEFEFE;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    padding: 0 20px 20px;
    margin: 0 auto;
    float: none;
    border-radius: 3px;
    white-space: normal;
}

.box-form input{
    margin-bottom: 10px;
}

.box-form h1{
    padding-top: 15px;
    font-weight: 300;
}

.box-form h2{
    font-size: 30px;
    font-weight: 300;
    padding: 15px 15px 0;
}

/* CONDUCTORES */
.user-link{
    color: #444444;
    font-weight: bold;
}

.user-item .avatar,
.publication-item .avatar{
    background: #EEEEEE;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

.user-item .avatar img,
.publication-item .avatar img{
    height: 100%;
    text-align: center;
}

.user-item .user-item-content,
.publication-item .publication-item-content{
    padding: 10px;
    margin-left: 85px;
}

/* HOME */
#timeline{
    margin-right: 20px;
    padding: 0 0 20px;
    border-radius:  3px;
}

.nav-tabs li.active{
    background-color: transparent !important;
}
.nav-tabs li.active>a{
    background-color: #0087bb !important;
}

.box-header{
    font-size: 25px;
    margin: 0;
    padding: 15px;
    background-color: #0087bb;
    color: #FFFFFF;
    border-radius: 0;
}

#user-card{
    padding: 10px;
}

#user-card .avatar{
    background: #EEEEEE;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    float: left;
}

#user-card .avatar img{
    height: 100%;
    text-align: center;
}

#user-card .avatar img.default{
    opacity: 0.5;
}

#user-card .name-surname{
    float: left;
    font-size: 20px;
    padding: 10px;
}

#user-card .name-surname a{
    color: #000000;
}

#user-card .nickname{
    opacity: 0.7;
}

#user-card .stat-data{
    width: 33%;
    float: left;
    text-align: center;
    border-top: 1px solid #CCCCCC;
    padding: 5px;
    margin-top: 10px;
}

#user-card .stat-data a{
    color: #444444;
}

#user-card .stat-data a:hover{
    color: #000000;
    text-decoration: none;
}

#user-card .stat-data .stat-label{
    display: block;
}

#user-card .stat-data .stat-number{
    display: block;
    font-size: 16px;
    font-weight: bold;
}

.hora-label{
    display: block;
    font-size: 25px;
}

.price-label, .plazas-label{
    font-size: 25px;
}

.box-busqueda-viajes{
    padding: 25px;
    margin-bottom: 20px;
    background: linear-gradient(to top, rgba(0, 100, 185, 0.85) 100%, rgba(0, 0, 0, 0.0) 100%), url('/assets/images/wall_busq.jpg') bottom;
    background-size: cover;
}

/* AÑADIR RUTINA */

.form-max{
    margin-left: 1525px;
}

.pub-name-link{
    font-weight: bold;
    color: #000000;
}

.pub-long-time{
    color: #AAAAAA;
    cursor: default;
}

.pub-date{
    padding: 2px;
    background: #EEEEEE;
    font-size: 12px;
    border-radius: 2px;
    color: #6E6E6E;
    display: none;
}

/* PERFILES */

.box-info-user{
    padding: 20px 20px 0;
    margin-top: 15px;
}

.box-items .avatar{
    background: #EEEEEE;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 3px solid rgba(255,255,255,0.3);
    float: left;
}

.box-items .avatar img{
    height: 100%;
    text-align: center;
}

.box-items .avatar img.default{
    opacity: 0.5;
}

.box-items .name-surname{
    float: left;
    font-size: 30px;
    padding: 10px;
}

.box-items .name-surname a{
    color: #FFFFFF;
}

.box-items .nickname{
    font-size: 20px;
    float: left;
    color: #BFBFBF;
}

.box-items .info-usuario{
    margin-top: 45px;
}

.box-items .info-usuario a{
    margin-right: 25px;
}

.box-items .info-usuario a:nth-child(1){
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

.box-ajustado{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
    margin-top: 25px !important;
}

.no-padding-bottom{
    padding-bottom: 0 !important;
}

.profile-wall{
    background-size: cover;
    padding: 150px 20px 20px;
    margin: 0 auto;
    float: none;
}

.content-profile{
    padding-left: 0;
    margin: 0 auto;
    padding-right: 0;
    float: none;
}

.content-profile .box-default{
    margin: 0;
    float: left;
}

.modal-bio span{
    display: block;
}

.modal-bio h3{
    margin-top: 5px;
}

.box-coche{
    padding-bottom: 20px;
}

.box-coche h3{
    margin: 20px 15px 10px;
}

.box-header .dropdown{
    display: inline;
}


/* NOTIFICACIONES */

.box-notification{
    padding-left: 0;
    padding-right: 0;
    border-radius: 3px;
}

.form-precio{
    text-align: right;
}

.box-notification .box-content{
    padding-top: 20px;
}

.notification-item .label_notif{
    color: #FFFFFF;
    font-weight: bold;
    font-size: 100%;
}

/* CARD PERFIL */

.card {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 0 20px 0 !important;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding-bottom: 20px;
}

.card.hovercard a{
    cursor: pointer;
}

.card.hovercard .cardheader {
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar-card {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar-card img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom-profile {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn-profile{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

/* CARD PERFIL ESTADISTICAS */

.card .stat-data:nth-child(1){
    border-left: 5px solid dodgerblue;
}

.card .stat-data:nth-child(1) a:hover{
    background-color: dodgerblue;
    color: #FFFFFF;
}

.card .stat-data:nth-child(2){
    border-left: 5px solid limegreen;
}

.card .stat-data:nth-child(2) a:hover{
    background-color: limegreen;
    color: #FFFFFF;
}

.card .stat-data:nth-child(3){
    border-left: 5px solid orangered;
}

.card .stat-data:nth-child(3) a:hover{
    background-color: orangered;
    color: #FFFFFF;
}

.card .stat-data a{
    padding: 5px 30px;
    text-decoration: none;
    color: #777777;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: left;
}

.card .stat-data a:hover{
    background-color: lightsteelblue;
    color: #444444;
}

.card .stat-data a .stat-number{
    float: right;
}

/* NOTIFICACIONES */

.not-notifications{
    color: #555555;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}

/* VISTA DE VIAJE*/
.vista-viaje{
    padding: 0;
}

.vista-viaje span{
    display: block;
    margin: 15px 0;
}

.user-item .avatar,
.publication-item .avatar,
.box-anotacion-viaje .avatar,
.box-conductor .avatar{
    background: #EEEEEE;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    overflow: hidden;
    float: left;
}

.box-anotacion-viaje .avatar{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.box-anotacion-viaje span, .box-anotacion-viaje h4{
    margin-top: 0;
}

.user-item .avatar img,
.publication-item .avatar img,
.box-anotacion-viaje .avatar img,
.box-conductor .avatar img{
    height: 100%;
    text-align: center;
}

.box-anotacion-viaje{
    padding: 15px;
    margin: 15px;
    background-color: rgba(21, 140, 186, 0.08);
    border-radius: 3px;
}

.row-list{
    padding-top: 15px;
    border-bottom: 1px solid #EEEEEE;
}

.row-list span{
    font-size: 18px;
    display: inline;
    color: #CCCCCC;
    float: left;
}

.row-list span.precio{
    font-weight: bold;
    font-size: 28px;
    color: #444444;
    margin-top: 0;
}

.row-list button .btn-warning{
    width: 100%;
}

.row-reserva{
    padding-bottom: 20px;
}

.box-conductor{
    margin-top: 20px;
}

.box-conductor h3{
    margin: 0;
    padding: 10px;
    background-color: rgb(0, 135, 187);
    color: #FFFFFF;
}

.box-conductor .avatar{
    margin-top: 5px;
}

/* STICKY FOOTER */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 70px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: #1b6d85;
    padding-top: 20px;
}

footer p{
    color: #FFFFFF;
}