{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-lg-6 box-form">
        <h1>Añadir una rutina</h1>
        {{ form_start(form, {'action':'', 'method':'POST'}) }}
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

