{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-lg-6 box-form box-default">
        <h1>Coche</h1>
        <hr />
        {{ form_start(formulario) }}
        {{ form_widget(formulario) }}
        <div class="form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-10">
                <a href="{{ path('perfil_usuario') }}" class="btn btn-primary">
                    <i class="fa fa-long-arrow-left"></i>
                    Volver al perfil
                </a>
                <button type="submit" name="enviar" class="btn btn-success">
                    <i class="fa fa-check"></i>
                    Guardar
                </button>
            </div>
        </div>
        {{ form_end(formulario) }}
    </div>
{% endblock %}

