{% extends 'layout.html.twig' %}

{% block content %}
    <div class="col-lg-4 box-form box-login">
        <h2>Identificarse</h2>
        <hr />

        <form action="{{ path('login_check') }}" method="post">
            <label for="username">Email</label>
            <input type="email" id="username" name="_username" value="{{ last_username }}" class="form-control" />

            <label for="password">Contraseña</label>
            <input type="password" id="password" name="_password" class="form-control" />

            <div class="form-group">
                <button type="submit" name="login" class="btn btn-info btn-block" tabindex="2">
                    <i class="fa fa-sign-in"></i>
                    Entrar
                </button>
                <a href="{{ path('restaurar_usuario') }}" class="btn-link">¿Has olvidado tu contraseña?</a>
            </div>

            <input type="hidden" name="_target_path" value="/inicio" />
        </form>
    </div>
{% endblock %}

