{% extends 'layout.html.twig' %}

{% block content %}
        {{ form_start(form) }}
        <div class="form-group">
            <div class="pull-right">
                <a href="{{ path('login') }}" tabindex="3">
                    Volver al login
                </a>
            </div>
            {{ form_row(form.email) }}
        </div>
        <div class="form-group">
            <button type="submit" name="login" class="btn btn-info btn-block" tabindex="2">
                Guardar
            </button>
        </div>
        {{ form_end(form) }}
{% endblock %}

