{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div class="col-lg-11 box-default box-notification">

            <h1 class="box-header">Notificaciones</h1>

            <div class="box-content">
                {% if paginador|length > 0 %}
                    {% for notificacion in paginador %}    <!-- Para cada notificacion(con todos sus datos) dentro de paginacion -->
                        <div class="col-lg-12 notification-item">
                            <div class="alert alert-info">
                                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                                {% set usuario_notif = notificacion.tipoId|get_user %}

                                {% if notificacion.tipo == "follow" %}
                                    <a href="{{ path('perfil_usuario', {'nick': usuario_notif.nick}) }}" class="usuario_notif">{{ usuario_notif.nombre }} {{ usuario_notif.apellidos }}</a> ahora sigue tus viajes.
                                {% endif %}

                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="not-notifications">No tienes notificaciones nuevas en este momento.</p>
                {% endif %}

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}

